nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: #e0da21;
    text-align: center;

}

li {
    display: inline;
    margin-right: 1rem;
}

nav,
li {

    width: 100%;
    height: 50px;
    z-index: 100;
    list-style-type: none;
    justify-content: space-between;
}

.list {
    font-family: 'Roboto Condensed';
    text-decoration: none;
    color: black;
    padding: 10px;
}


.list {
    position: relative;
}

.list:hover::after {
    width: 100%;
    left: 0;
}

.list:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: #19f6e8;
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.list:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}